wikipedia/src/main/resources/wikipedia/wikipedia.dat
wikipedia/.idea/
wikipedia/project/project/
wikipedia/project/target/
wikipedia/target/
stackoverflow/src/main/resources/stackoverflow/stackoverflow.csv
stackoverflow/.idea/
stackoverflow/project/project/
stackoverflow/project/target/
stackoverflow/target/
